<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Me The Sushi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="static/js/common.js"></script>
</head>
<body>
    <div id="header_html"></div>
    <script>
        loadHeaderFooter();
    </script>
    <div class="container">
    <div class="table-responsive">
    <table class="table" style="text-align : center">
        <thead>
        <tr>
            <th style="text-align:center">Sushi</th>
            <th style="text-align:center">On the rail</th>
            <th style="text-align:center">Sold</th>
            <th style="text-align:center">Description</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                    <td>Tuna</td>
                    <td>5</td>
                    <td>3</td>
                    <td>Test1</td>
            </tr>
            <tr>
                    <td>Salmon</td>
                    <td>6</td>
                    <td>2</td>
                    <td>Test2</td>
            </tr>
            <tr>
                    <td>Flat Fish</td>
                    <td>10</td>
                    <td>7</td>
                    <td>Test3</td>
            </tr>
            <tr>
                    <td>Egg</td>
                    <td>3</td>
                    <td>1</td>
                    <td>Test4</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>

    <nav style="text-align : center" aria-label="Page navigation">
        <ul class="pagination">
            <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
                <li><a href="#"> 1</a></li>
                <li><a href="#"> 2</a></li>
                <li><a href="#"> 3</a></li>
            <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
        </nav>
</body>
</html>