<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Me The Sushi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="static/js/common.js"></script>
</head>
<body>
    <div id="header_html"></div>
    <script>
        loadHeaderFooter();
    </script>

<div class="container">
    <div class="caption">

        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="220" height="220" src="/static/images/tuna.png" />
                </div>
            </div>
            <div class="col-md-8">
                <h3>Tuna</h3>
                <p>Explanation of Tuna sushi</p>
            </div>
        </div>
    </div>


        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="220" height="220" src="/static/images/salmon.png" />
                </div>
            </div>
            <div class="col-md-8">
                <h3>Salmon</h3>
                <p>Explanation of Salmon sushi</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="220" height="220" src="/static/images/flat_fish.png" />
                </div>
            </div>
            <div class="col-md-8">
                <h3>Flat Fish</h3>
                <p>Explanation of Flat fish sushi</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="220" height="220" src="/static/images/egg.png" />
                </div>
            </div>
            <div class="col-md-8">
                <h3>Egg</h3>
                <p>Explanation of Egg sushi</p>
            </div>
        </div>
</div>

</body>
</html>