<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Me The Sushi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/js/common.js"></script>
</head>
<body>
    <div id="header_html"></div>
    <script>
        loadHeaderFooter();
    </script>

<ul class="nav nav-tabs">
    <li><a href="/owner">Like Us</a></li>
    <li role="presentation" id="hyun"><a href="/owner/hyun">박승현</a></li>
    <li role="presentation"><a href="/owner/gak">박승각</a></li>
    <li role="presentation"><a href="/owner/bae">배기운</a></li>
</ul>
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/static/images/gak.jpg" style="width:250px;height:250px;">
          <div class="caption">
              <h3><strong>박 승 각</strong></h3>
            <p>나이 : 27</p>
            <p>사는 곳 : 안산</p>
          </div>
        </div>
      </div>

      </div>

    </div>

</body>
</html>